In [1]:
import pandas as pd

In [5]:
data=pd.read_csv("./Data/casc-resto.csv",sep=';')

In [11]:
print(data[data['RKDate'] == '2017-07-01'])

        CustomerID  Restaurant      RKDate                    RegionName  \
4665       2810585         436  2017-07-01  Москва и Московская область
5606       2848543         727  2017-07-01  Москва и Московская область
23504      2795631          49  2017-07-01  Москва и Московская область
23971      2831289          93  2017-07-01  Москва и Московская область
24618      2776418         139  2017-07-01  Москва и Московская область
...            ...         ...         ...                           ...
881148     2793183          43  2017-07-01  Москва и Московская область
881323     2875013         922  2017-07-01  Москва и Московская область
881648     2880345         449  2017-07-01  Москва и Московская область
881867     2908412         469  2017-07-01  Москва и Московская область
882131     2777471         464  2017-07-01  Москва и Московская область

                  BrandsNames DishCategoryName  Quantity SummBasic  \
4665                 IL Патио      NON ALCOHOL         1        20
5606                 IL Патио      NON ALCOHOL         1        20
23504                IL Патио      NON ALCOHOL         2        30
23971                IL Патио             FOOD         1        30
24618         IL Патио,Шикари             FOOD         1        30
...                       ...              ...       ...       ...
881148               IL Патио             FOOD         1       895
881323  IL Патио,Планета Суши           COMBO          1       895
881648            TGI FRIDAYS             FOOD         2      1150
881867               IL Патио             FOOD         2      1790
882131               IL Патио          ALCOHOL         1      1599

       SummAfterPointsUsage
4665                  14,99
5606                  14,99
23504                  22,5
23971                 22,49
24618                 27,34
...                     ...
881148               671,13
881323               736,19
881648               862,61
881867               1342,5
882131              1199,14

[806 rows x 9 columns]

In [19]:
grouped_data=data.groupby('CustomerID')
for name, group in grouped_data:
    print(len(group[    group['RKDate'] < '2017-07-01' and group['RKDate'] > '2017-12-31'   ] ))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().