In [6]:
#model = trainNAME(X, Y, ...{other params}...), predictNAME(model, X), где {other params} 
#– это параметры определяемые студентом, включающие все используемые в модели константы, 
#model – обученная модель, возвращаемая первой функцией. Функция предсказания должна возвращать вероятность класса 1.
import pandas as pd
data=pd.read_csv("./exported_data.csv",sep=',', decimal=",") # Считываем данные из файла
data.head()

,Bought_Or_Not,Recency,Frequency,Monetary_Value,Mean_Quantity,ActivationDate,Age,SubscribedEmail,SubscribedPush,Male
0,0.0,160.0,8.142857142857142,251.78947368421052,1.0350877192982457,735599,24.0,False,True,0
1,0.0,720.0,4.857142857142857,279.6470588235294,1.0,735599,46.0,True,True,1
2,1.0,15.0,4.714285714285714,398.7348484848485,1.6666666666666667,735599,27.0,True,True,0
3,0.0,177.0,14.142857142857142,262.7373737373738,1.1414141414141414,735599,54.0,True,True,0
4,1.0,115.0,3.0,393.7142857142857,1.8095238095238095,735599,48.0,False,False,1